.nav {
    display: flex;
    justify-content: space-between;
}
.active-link{
    color: var(--text-color-1);
    padding: 4px;
}

.noactive-link {
    color: var(--text-color-1);
    opacity: 70%;
    padding: 4px;
}